<div class="author-box">
    <div class="author-avatar">
        <img src="{{ '/assets/images/author-avatar.png' | relative_url }}" alt="{{ page.author }}" loading="lazy">
    </div>
    <div class="author-info">
        <h4 class="author-name">{{ page.author }}</h4>
        <p class="author-bio">{{ site.author_bio }}</p>
        <div class="author-social">
            {% for social in site.social %}
            <a href="{{ social.url }}" target="_blank" rel="noopener" title="{{ social.name }}">{{ social.name }}</a>
            {% endfor %}
        </div>
    </div>
</div>
