<aside class="sidebar">
    <!-- Latest Posts Widget -->
    <div class="widget widget-latest-posts">
        <h3 class="widget-title">Latest Articles</h3>
        <ul class="posts-list">
            {% for post in site.posts limit:5 %}
            <li class="post-item">
                <a href="{{ post.url | relative_url }}" class="post-link">
                    <span class="post-title">{{ post.title }}</span>
                    <span class="post-date">{{ post.date | date: "%b %d, %Y" }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Random Posts Widget -->
    <div class="widget widget-random-posts">
        <h3 class="widget-title">Random Articles</h3>
        <ul class="posts-list">
            {% assign random_posts = site.posts | shuffle | slice: 0, 5 %}
            {% for post in random_posts %}
            <li class="post-item">
                <a href="{{ post.url | relative_url }}" class="post-link">
                    <span class="post-title">{{ post.title }}</span>
                    <span class="post-date">{{ post.date | date: "%b %d, %Y" }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Categories Widget -->
    <div class="widget widget-categories">
        <h3 class="widget-title">Categories</h3>
        <ul class="categories-list">
            {% for category in site.categories %}
            <li class="category-item">
                <a href="{{ '/category/' | relative_url }}{{ category[0] | slugify }}/" class="category-link">
                    {{ category[0] | capitalize }}
                    <span class="category-count">({{ category[1].size }})</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Tags Widget -->
    <div class="widget widget-tags">
        <h3 class="widget-title">Tags</h3>
        <div class="tags-cloud">
            {% for tag in site.tags %}
            <a href="{{ '/tag/' | relative_url }}{{ tag[0] | slugify }}/" class="tag-link" title="{{ tag[1].size }} posts">
                {{ tag[0] }}
            </a>
            {% endfor %}
        </div>
    </div>
</aside>
